
* { margin:0;
     padding:0;
      box-sizing:border-box;
     }

body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-color:hsl(30, 38%, 92%);
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  display: flex;
  justify-content: center;
}


.product-card{
  display:flex;
  background-color:hsl(0, 0%, 100%);
  border-radius:10px;
  overflow:hidden;
  width:100%;
}
.image img {
  width:300px;
  height:auto;
  object-fit:cover;
  display:block;
}

.image { 
    flex: 0 0 auto;
 }                      
.product-details { 
  flex:1 1 auto;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  padding:30px;
  text-align:left;
  
}

.product-details figcaption {
  font-size:14px;
  letter-spacing:3px;
  text-transform:uppercase;
  color:hsl(228,12%,48%);

}
.product-details .name {
  font-size:24px;
  font-weight:700;
  margin:20px 0;
  color:hsl(212, 21%, 14%);

}

.product-details .description{ 
    font-size:14px; 
    color:hsl(228,12%,48%);
     margin-bottom:20px; 
    }
.product-details .price{ 
    font-size:24px;
     font-weight:700;
      color:hsl(158,36%,37%);
       margin-bottom:20px; 
    }
.product-details .old-price{ 
    font-size:14px; 
    color:hsl(228,12%,48%);
     text-decoration:line-through; 
     margin-left:10px; 
    }

.cart-btn{
  background-color:hsl(158,36%,37%);
  color:#fff;
  padding:12px 0;
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-weight:600;
}
.cart-btn:hover,
.cart-btn :active {
  background-color:hsl(158,36%,20%);
}

.attribution{ 
    display:none; 
}

 /* Responsive styles */
@media (max-width: 375px) {
  .product-card{
    flex-direction: column;   
    border-radius: 10px;
  }

  .image img{
    width: 100%;    
    height: auto;
  }

  .product-details{
    padding:20px;
  }
}